body {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

strong {
  color: #000;
}


.content.subsection {
  background: transparent;
  color: #c80000;
}

.content h1 {
  font-size: 5em;
  font-weight: bold;
  margin: 0.5em 0 0.75em 0;
}

.content pre {
  font-size: 2em;
  font-family: monospace;
}

.content.master h1 {
  font-size: 6em;
  color: #000;
}

.content.chat blockquote p {
  margin: 10px 0;
  line-height: 120%;
}
